:host {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  line-height: 1;
}
.app-icon {
  user-select: none;
  display: inline-block;
  line-height: 1;
}
